n8n/workflows/whatsapp_chatbot.json
{
  "name": "MultiSense Agent - WhatsApp Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-webhook-id"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received' }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-messages",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract message details from WhatsApp webhook payload\nconst entry = $input.first().json.body.entry[0];\nconst changes = entry.changes[0];\nconst value = changes.value;\nconst message = value.messages[0];\nconst contact = value.contacts[0];\n\nconst result = {\n  message_id: message.id,\n  from: message.from,\n  sender_name: contact.profile.name,\n  timestamp: message.timestamp,\n  type: message.type,\n  text: message.type === 'text' ? message.text.body : null,\n  media_id: null,\n  mime_type: null,\n  caption: null,\n};\n\n// Handle media types\nif (message.type === 'audio') {\n  result.media_id = message.audio.id;\n  result.mime_type = message.audio.mime_type;\n} else if (message.type === 'image') {\n  result.media_id = message.image.id;\n  result.mime_type = message.image.mime_type;\n  result.caption = message.image.caption || null;\n} else if (message.type === 'document') {\n  result.media_id = message.document.id;\n  result.mime_type = message.document.mime_type;\n  result.caption = message.document.filename || null;\n}\n\nreturn [{ json: result }];"
      },
      "id": "parse-message",
      "name": "Parse WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "text"
            }
          ]
        }
      },
      "id": "route-text",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "http://multisense-agent:8080/api/v1/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.from }}"
            },
            {
              "name": "use_rag",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "call-text-api",
      "name": "Process Text Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "={{ $env.WHATSAPP_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $('Parse WhatsApp Message').item.json.from }}",
        "messageType": "text",
        "textBody": "={{ $json.response }}"
      },
      "id": "send-response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-credentials",
          "name": "WhatsApp Business"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          { "node": "Respond 200 OK", "type": "main", "index": 0 },
          { "node": "Has Message?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [{ "node": "Parse WhatsApp Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Parse WhatsApp Message": {
      "main": [
        [{ "node": "Route by Type", "type": "main", "index": 0 }]
      ]
    },
    "Route by Type": {
      "main": [
        [{ "node": "Process Text Message", "type": "main", "index": 0 }]
      ]
    },
    "Process Text Message": {
      "main": [
        [{ "node": "Send WhatsApp Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "whatsapp" },
    { "name": "ai-chatbot" },
    { "name": "multi-modal" }
  ]
}
